---
import { getCollection, render } from "astro:content";
import { SHOW_BUY_BUTTON } from "astro:env/server";
import Layout from "../../layouts/Layout.astro";
import MangaScore from "../../components/MangaScore.astro";

export async function getStaticPaths() {

  const mangas = await getCollection("mangas");
  return mangas.map((manga) => ({
    params: { id: manga.slug },
    props: { manga }
  }))
}

const { manga } = Astro.props;
const { data, slug } = manga;
const { title, author, img, readtime, description, buy } = data;

const { Content } = await render(manga);
---

<Layout title={`${title} - Dev Mangas`}>
  <div class="flex gap-12">
    <aside class="flex flex-col items-center gap-4">
      
      <a href='/' class="hover:underline opacity-70">← Go Back</a>
      
      <img transition:name={`img-${slug}`} class="rounded w-72 h-auto" src={`/${img}`} alt={title} />
      
      <MangaScore id={slug}/>
      
      {
        SHOW_BUY_BUTTON && (
          <a
            href={buy.usa}
            title="Buy Manga"
            target="_blank"
            rel="noopener noreferrer"
            class="text-balance inline-flex gap-2 items-center bg-yellow-400 hover:bg-yellow-500
            active:bg-yellow-600 text-black font-bold py-2 px-4 rounded-lg border border-yellow-500
            transition duration-200 ease-in-out hover:scale-105 justify-center text-center"
            >
            Buy on Amazon
          </a>
        )
      }
    </aside>

    <main class="max-w-3xl">
      <h1 transition:name={`title-${slug}`} class="text-4xl font-bold mb-4">{title}</h1>
      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>

<script>

</script>